<% if flash[:notice] %>
  <p class="notice" style="color:red;"><%= flash[:notice] %></p>
<% end %>


<% if current_user %>
	<%= link_to 'Log Out', log_out_path, class: 'btn btn-primary'  %>
<% else %>
	<%= link_to 'Login', login_path, class: 'btn btn-primary'  %>
<% end %>

<% if Rails.env.test? == true %>
	<%= link_to 'Log Out', log_out_path, class: 'btn btn-primary'  %>
<% end %>

