<div class="row">
	<div class="medium-12 columns">
		<% if flash[:notice] %>
		  <p class="notice" style="color:red;"><%= flash[:notice] %></p>
		<% end %>
	</div>
</div>



<% if Rails.env.test? == true %>
	<%= link_to 'Log Out', log_out_path, class: 'btn btn-primary'  %>
<% end %>

